.Rproj.user
.Rhistory
*.RData
.Ruserdata
*.html
ex1_table.csv
compare_png
base_wham
*.rds
m*
proj
retro
.DS_Store
*.xlsx
# ADMB standard output files
*.b0*
*.bar
*.cor
*.cov
*.dep
*.ecm
*.eva
gradient.*
*.hes
*.log
*.mc2
*.mcm
*.p0*
*.psv
*.hst
*.par
#*.rep
*.r0*
*.std
*_in.ctl
#*_in.dat
# Added for MCMC runs
adaptation.csv
unbounded.csv
init.pin
variance
sims
